<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do-List</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

    <header>

      <% if ( task == null ) { %>
      <form action="/create" method="post">
        <input type="text" name="task" id="task" placeholder="Add a task" >
        <button type="submit">Add Task</button>
      </form>

      <% } else { %>

      <form action="/updateOne/<%=task._id %>" method="post">
        <input type="text" name="task" id="task" value="<%= task.task %>" >
        <button type="submit">Update</button>
      </form>
      <% } %>

    </header>

    <section id="tasks">
      <ul>
        <% tasksList.forEach((task) => { %>
        <li>
          <%= task.task %> | <%= task.date.toLocaleDateString("en-us") %>
          <a href="/getById/<%= task._id %>/update">Edit</a>
          <a href="/getById/<%= task._id %>/delete">Delete</a>
        </li>
        <% }) %>
      </ul>
    </section>

    <%if (taskDelete != null) { %>
    
      <section id="modal">
      <div id="card">

        <a href = "/">Cancel</a>
        <h2>Confirm</h2>
        <hr>
        <p>Confirm deletion of task: <%= taskDelete.task %> </p>
        <a href="/">No</a>
        <a href="/deleteOne/<%= taskDelete.id %>">Yes</a>

      </div>
      </section>

     <% } %>

    <script src="script.js"></script>
  </body>
</html>
